body{
    background-color: rgb(237, 205, 253);
}

#show_btn{
    float : right;
    margin-right: 50px;
}

h1{
    color: white;
    margin-left: 130px;
}

p{
    padding-top: 10px;
    font-size : 25px;
}

canvas{
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 50px;
    animation-name : animation; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation{
    from{box-shadow: 1px 1px 40px red;}
    to{box-shadow: 1px 1px 40px blue;}
}
